.container {
  max-width: 1110px;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;
}
.bar__container {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #202027;
}
.filter__container {
  display: flex;
  align-items: center;
  gap: 30px;
  position: relative;
}
.filter__input {
  background-color: #0d0c13;
  padding: 5px;
  border-radius: 10px;
  font-size: 16px;
  color: #b5afaa;
  border: 1px solid #5a4c30;
}
.filter__button {
  background-color: unset;
  padding: 5px;
  font-size: 16px;
  color: #b5afaa;
  border: none;
}
.select__wrapper {
  background-color: #0d0c13;
  padding: 5px;
  color: #b5afaa;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  color: #b5afaa;
  border: 1px solid #5a4c30;
  text-transform: capitalize;
}
