.container {
  margin: 50px auto;
  width: 30%;
  padding: 20px 30px 50px;
  -webkit-box-reflect: below 2px
    linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(800px) rotateY(25deg);
  transition: 0.5s;
  background: radial-gradient(black, transparent);
  cursor: pointer;
  &:hover {
    transform: perspective(800px) rotateY(0deg);
    opacity: 1;
    background-color: #1e1e1e;
  }
  &__wrapper {
    width: 100px;
    height: 100px;
  }
  img {
    width: 200px;
    height: 150px;
  }
  span {
    text-transform: capitalize;
    text-align: center;
    color: white;
  }
}
